#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

header{
  background-color: #202020;
  padding: 1rem 2rem 0;
  margin: -1rem -2rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.nav-flex{
  padding-top: 10px;
}

.nav-text{
  font-size: 18px;
}

.nav-text:hover{
  color: #2f9dbe;
}

.nav-search{
  color: black;
}

.main-logo{
  height: 65px;
  margin-top: -8px;
}

.cart-icon{
  height: 30px;
}