<gs-hero></gs-hero>
<section class="section">
  <div class="container">
    <h2 class="title">Best Seller Games</h2>
    <div class="columns is-multiline">
      <div class="column is-one-quarter-desktop is-half-tablet" *ngFor="let game of bestSellerGames">
        <div [routerLink]="['/games', game?.id]" class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img *ngIf='!game.imagePath' src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
              <img *ngIf='game.imagePath' src="{{game.imagePath}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content best-seller-card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{game?.name}}</p>
              </div>
            </div>

            <div class="content">
              {{game?.shortDescription}}
              <br>
              <b>Release Date: </b><time>{{game?.releaseDate | date: 'dd/MMM/yyyy'}}</time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>